{% extends 'base.html' %}

{% block Title %}MENTOR{% endblock %}

{% block content %}
{% load static %}

<div class="wrap-home--content">
    <div class="container-fluid atas">
        <div class="container">
            <div class="row">
                <div class="col-12"><p><br><br><br><br></p></div>
                <div class="col-12">
                    <div class="logo_ta">
                        <img src="{% static 'img/title/alpha-logo.png'%}">
                    </div>
                </div>
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="home1">
                        <h1>Alpha Tech Academy</h1>
                        <p>Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT background) a chance to be a professional Tech Talent within 3 month. Contact Person: Email:academy@alphatech.id Mobile phone:</p>
                        <p>0877 9609 9530</p>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <div class="our_mentee">
        <h3>Our Mentor</h3>
    </div>
    {% for mentor in mentors%}
    <div class="container isi_mentee">
        <div class="row">
            <div class="col-4 andreas">
                <img src="{% static ''%}{{mentor.Gambar}}">
            </div>
            <div class="col-8 andreas_word">
                <h4>{{mentor.Nama}}</h4>
                <h5>{{mentor.Experience}}</h5>
                <h6>{{mentor.Quote}}</h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}